Flask==2.2.3
Flask-SQLAlchemy==3.0.2
Flask-SocketIO==5.3.2
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Cors==3.0.10
geopy==2.3.0
stripe==5.3.0
eventlet==0.33.3
Werkzeug==2.1.2
gunicorn==23.0.0
pandas
openpyxl
reportlab

